div#footer
	div.container.text-muted.text-center
		p.text-muted.text-center
			| Data provided by 
			a(href='http://marsweather.ingenology.com/') {MAAS}
		P
			a(href='https://github.com/kolbasov/mars') GitHub