doctype html
html
	include header
	body
		div.container
			div.mars
				h1.lead.name The weather on Mars
				p.lead.temp
					from !{minTemp}&#8451; to !{maxTemp}&#8451;	on #{date}
		canvas#chart(height="360", class="center-block")
		include footer			
		include scripts
