doctype html
html
	include header
	body
		div.container
			div.mars.text-center
				h1.lead.name 
					|The weather on Mars from 
					span.min !{minTemp}C 
					|to 
					span.max !{maxTemp}C 
					|on #{date}
			canvas#chart(height="420", class="center-block")
		include footer			
		include scripts
