/* Sticky footer styles
-------------------------------------------------- */
* {
  -webkit-font-smoothing: antialiased;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.mars {
  padding: 0px 15px;
  text-align: center;
}

.logo {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: #d9534f;
  width: 60px;
  height: 60px;
}

.name,
.temp,
.date {
  font-size: 36px;
}

.name {
  color: #d9534f;
}