/* Sticky footer styles
-------------------------------------------------- */
* {
  -webkit-font-smoothing: antialiased;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 10px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Myriad Set Pro', 'Helvetica Neue', 'Segoe UI Light', Helvetica, Arial, Verdana, sans-serif;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.mars {
  margin-bottom: 20px;
}
.min {
  color: #428bca;
}
.max {
  color: #d9534f;
}

@media(max-width: 400px) {
  .name {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .name, .temp, .date {
    font-size: small;
  }     
  th, td, #footer {
    font-size: smaller;
  }
}
