/* Sticky footer styles
-------------------------------------------------- */
* {
  -webkit-font-smoothing: antialiased;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 10px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Myriad Set Pro', 'Helvetica Neue', 'Segoe UI Light', Helvetica, Arial, Verdana, sans-serif;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.mars {
  margin-bottom: 20px;
}
.min {
  color: #428bca;
}
.max {
  color: #d9534f;
}

/* [0, 768] */
@media(max-width: 768px) {
  .name, .temp, .date {
    font-size: 1em;
  }     
  #footer {
    font-size: 0.8em;
  }
}

/* [768, *] */
@media(min-width: 768px) {
  .name, .temp, .date {
    font-size: 2.5em;
  }
} 
